//Format del text de les seccions
.secction-text {
  margin: 2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

//Format del contingut de la secció Història
.historia-content {
  color: $laseu-seccio;
  background-color: $laseu-blanc;
}

//Format del contingut de la secció La catedral
.catedral-content {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  color: $laseu-blanc;
  background-color: $laseu-seccio;
  border-radius: 2rem;
}

//Format del contingut de la secció de les Tarfies
.tarifes-content {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  color: $laseu-seccio;
  background-color: $laseu-blanc;

  h2 {
    color: $laseu-seccio;
  }
}

/*------------------------------------*\
  #Format de les targetes
\*------------------------------------*/
.cards {
  display: flex;
  flex-flow: row wrap;
  row-gap: 2rem; /* Marge entre files*/
  align-items: start;
  justify-content: space-evenly;
  margin-top: 5rem; /*centrem el contenidor*/
}

.card-tarifes {
  padding-top: 2rem;
  text-align: center;
  border-width: 1px;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card__title {
  color: $laseu-seccio;
  font-weight: 300;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.header-card {
  color: $laseu-seccio;
  background-color: rgb(181, 240, 227);
}

.price-card {
  display: block;
  width: 100%;
  padding: 1rem 0 1rem;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
}

.name-card {
  display: block;
  width: 100%;
  padding: 0.8rem 0 0.8rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

//Sass: Ús d'imbricació
.features-card {
  li {
    width: 200px;
    margin: 0 35px;
    padding: 20px 15px;
    list-style-type: none;
  }

  li:not(:last-child) {
    border: 1px solid $laseu-border;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
}

/*------------------------------------*\
  # Fi Format de les targetes
\*------------------------------------*/

