<footer class="seuvella-footer">
  <div id="subfooter">
    <p>M4.258 - Eines HTML i CSS II - PAC1</p>
    <p>2023 &copy; Albert Treviño Bifet</p>
    <p>
      Imatge de fons:
      <a href="https://pixabay.com/es/photos/la-seu-vella-catedral-lleida-1439465/">pixabay.com</a>
    </p>
    <p>
      Text:
      <a href="https://ca.wikipedia.org/wiki/La_Seu_Vella_de_Lleida">ca.wikipedia.org</a>
    </p>
    <p>
      Imatges:
      <a href="https://ca.wikipedia.org/wiki/La_Seu_Vella_de_Lleida">ca.wikipedia.org</a>
    </p>
  </div>
</footer>